.work-order-details {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  .details-tab {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .tab-head {
      width: 100%;
      height: vh(18);
      background: rgba(255, 255, 255, 0.05);
      box-sizing: border-box;
      display: flex;
      & > div {
        font-size: vw(8);
        height: vh(18);
        color: #00cafa;
        text-align: center;
        line-height: vh(18);
        border-bottom: 1px solid rgba(101, 124, 168, 0.3);
        border-right: 1px solid rgba(101, 124, 168, 0.3);
        &:last-of-type {
          border-right: none;
        }
      }
    }
    .tab-body {
      width: 100%;
      height: 1px;
      flex: 1;
      position: relative;
      overflow: hidden;
      .details-item {
        backface-visibility: hidden;
        transition: all 1.3s;
        z-index: 1;
        width: 100%;
        height: vh(17.5);
        display: flex;
        & > div {
          font-size: vw(8);
          height: vh(17);
          color: #c3cad9;
          text-align: center;
          line-height: vh(17);
          border-bottom: 1px solid rgba(101, 124, 168, 0.3);
          border-right: 1px solid rgba(101, 124, 168, 0.3);
          &:last-of-type {
            border-right: none;
          }
        }
      }
    }
  }
}

.list-complete-enter,
.list-complete-leave-to {
  opacity: 0;
}

.list-complete-enter {
  transform: translate3d(0, 100%, 0);
  position: absolute;
}

.list-complete-leave-active {
  position: absolute;
  transform: translate3d(0, -100%, 0);
}
