$vm_base: 1920;
$vh_base: 540;

// 计算vw
@function vw($px) {
  @return ($px / $vm_base) * 100vw;
}

// 计算vh
@function vh($px) {
  @return ($px / $vh_base) * 100vh;
}

// 动画
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
