$vm_base: 1920;
$vh_base: 540;

// 计算vw
@function vw($px) {
  @return ($px / $vm_base) * 100vw;
}

// 计算vh
@function vh($px) {
  @return ($px / $vh_base) * 100vh;
}

@mixin vw2($style,$px) {
  [data-theme='default'] & {
    #{$style}: vw($px)
  }
  
  [data-theme='mapFull'] & {
    #{$style}: vw($px * 2)
  }
}

@mixin vh2($style,$px) {
  [data-theme='default'] & {
    #{$style}: vh($px)
  }
  
  [data-theme='mapFull'] & {
    #{$style}: vh($px * 2)
  }
}


// 动画
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
