.my-map {
  width: 100%;
  height: 100%;
  position: relative;
  -moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  #mapContainer {
    width: 100%;
    height: 100%;
    // box-shadow: 0px 0px vh(20) vh(0.8) rgba(153, 204, 255, 0.2) inset;
    border-radius: vh(2);
  }
  .setting-btn {
    position: absolute;
    top: vh(10);
    right: vw(10);
    width: vw(80);
    height: vw(23);
    line-height: vw(23);
    background: #fff;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
    border-radius: vh(2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: vw(10);
    cursor: pointer;
    img {
      width: vw(16);
      height: vw(10);
      margin-right: vw(6);
    }
  }
  .setting-content {
    position: absolute;
    top: vh(34);
    right: vw(10);
    width: vw(170);
    // height: 41.7vh;
    background: rgba(35, 36, 52, 0.9);
    border: 1px solid rgba(153, 204, 255, 0.25);
    padding: vw(15) vw(6);
    border-radius: vh(2);
    box-sizing: border-box;
    .area-name {
      display: flex;
      align-items: center;
      color: #20c0fe;
      font-size: vw(10);
      img {
        margin-right: vw(4);
        width: vw(10);
        height: vw(10);
      }
    }
    .enterprises {
      margin-top: vh(14);
      width: 100%;
      display: flex;
      justify-content: space-between;
      .enterprise-item {
        display: flex;
        align-items: center;
        color: #fff;
        font-size: vw(10);
        cursor: pointer;
        img {
          margin-right: vw(4);
          width: vw(10);
          height: vw(10);
        }
      }
    }
    .setting-selects {
      margin-top: vh(14);
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .selects-item {
        display: flex;
        align-items: center;
        color: #fff;
        font-size: vw(10);
        margin-bottom: vh(14);
        &:last-of-type {
          margin: 0;
        }
        cursor: pointer;
        img {
          margin-right: vw(6);
          width: vw(12);
          height: vw(12);
        }
      }
    }
  }
  .workOrder-details {
    position: absolute;
    z-index: 10;
    right: vw(400);
    top: vh(58);
    // width: vw(320);
    width: vw(214);
    height: vw(326);
    // height: vw(490);
    background: #00478f;
    border-top: 2px solid #00cafa;
    border-bottom: 2px solid #00cafa;
    padding: 0 vw(14);
    box-sizing: border-box;
    color: #fefefe;
    .workOrder-details-close {
      position: absolute;
      right: vw(6);
      top: vw(6);
      width: vw(18);
      height: vw(18);
      text-align: center;
      line-height: vw(18);
      font-size: vw(10);
      cursor: pointer;
    }
    .details-status {
      width: 100%;
      height: vw(30);
      text-align: center;
      line-height: vw(28);
      font-size: vw(12);
    }
    .imgs {
      width: 100%;
      height: vw(156);
      .img-item {
        position: relative;
        width: vw(188);
        height: vw(156);
        img {
          width: 100%;
          height: 100%;
        }
        .img-watermark {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: vw(22);
          background: rgba(0, 0, 0, 0.6);
          font-size: vw(10);
          font-weight: bold;
          text-align: center;
          line-height: vw(22);
        }
      }
    }
    .details-text {
      margin-top: vw(2);
      font-size: vw(10);
      color: #fff;
      line-height: vw(18);
      > p {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: 0;
      }
    }
    .dispose-status {
      font-size: vw(12);
      font-weight: bold;
      position: absolute;
      right: vw(12);
      bottom: vw(12);
    }
  }
  .workOrders {
    position: absolute;
    z-index: 9;
    right: vw(266);
    top: vh(38);
    width: vw(214);
    height: vw(336);
    background: #00478f;
    border-top: 2px solid #00cafa;
    border-bottom: 2px solid #00cafa;
    box-sizing: border-box;
    color: #fefefe;
    .workOrder-item {
      width: 100%;
      height: 100%;
      padding: 0 vw(12);
      box-sizing: border-box;
      .details-status {
        width: 100%;
        height: vw(30);
        text-align: center;
        line-height: vw(28);
        font-size: vw(12);
      }
      .imgs {
        width: 100%;
        height: vw(156);
        img {
          width: 100%;
          height: 100%;
        }
      }
      .details-text {
        margin-top: vw(2);
        font-size: vw(10);
        color: #fff;
        line-height: vw(18);
        > p {
          width: 100%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin: 0;
        }
      }
      .dispose-status {
        font-size: vw(12);
        font-weight: bold;
        position: absolute;
        right: vw(12);
        bottom: vw(19);
      }
    }
  }
  .map-legend {
    position: absolute;
    bottom: vh(12);
    left: vw(12);
    width: vw(106);
    height: vw(149);
    background: rgba(0, 0, 0, 0.4);
    padding: vw(9) 0 vw(9) vw(12);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    .legend-item {
      width: 100%;
      display: flex;
      align-items: center;
      font-size: vw(12);
      color: #fefefe;
      img {
        width: vw(18);
        height: vw(18);
        margin-right: vw(6);
      }
    }
    .workOrder-tab {
      position: absolute;
      left: 100%;
      top: 0;
      width: vw(426);
      height: vw(149); // padding-top: 0.34rem;
      padding-left: vw(7);
      box-sizing: border-box;
      .slide-box {
        width: 100%;
        height: 100%;
        display: flex;
        font-size: vw(10);
        flex-direction: column;
        background: rgba(0, 0, 0, 0.4);
        .tab-head {
          width: 100%;
          height: vw(22);
          color: #fff;
          line-height: vw(22);
          text-align: center;
          display: flex;
          background: rgba(0, 0, 0, 0.4);
          > div {
            height: 100%;
          }
        }
        .tab-body {
          flex: 1;
          height: 1px;
          width: 100%;
          color: #fff;
          line-height: vw(34);
          text-align: center;
          overflow: hidden;
          overflow-y: auto;
          &::-webkit-scrollbar {
            width: vw(8);
            height: 1px;
          }
          &::-webkit-scrollbar-thumb {
            border-radius: vw(8);
            box-shadow: inset 0 0 vw(5) rgba(0, 0, 0, 0.2);
            background: #515151;
          }
          &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 vw(5) rgba(0, 0, 0, 0.2);
            border-radius: vw(8);
            background: rgba(0, 0, 0, 0.4);
          }
          .tab-item {
            width: 100%;
            height: vw(22);
            display: flex;
          }
        }
      }
    }
  }
}
